.textbox{
    font-size: 25px;
}

.gameStatus{
    font-size:100px;
}
.title{
    font-size:80px;
    text-align: center;
    border-color: black;
    border: 3px;
    border-style: solid;
}
.lobby{
    text-align: center;
}
.lobby_button{
    display: inline-block;
    font-size: 40px;
}

.input_box{
    font-size: 40px;
}
